server {
    listen ${PORT};

    root /usr/share/nginx/html;
    index index.html;

    location = /health {
        return 200 "healthy\n";
    }

    location /traffic-data/ {
        proxy_pass ${TRAFFIC_SERVICE_URL};
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
